/* fonts */
@font-face {
  font-family: "BemboStd";
  src: url("./fonts/BemboStd.otf") format("opentype");
}
@font-face {
  font-family: "Avenir-heavy";
  src: url("./fonts/AvenirLTStd-Black.otf") format("opentype");
}
@font-face {
  font-family: "AvenirStd";
  src: url("./fonts/AvenirLTStd-Book.otf") format("opentype");
}
h1 {
  font-size: 24px;
  margin: 10px 0;
}

/*carousel global */
.carousel {
  display: flex;
  align-items: center;
}
.carousel-content {
  display: none;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.carousel-content.active {
  display: block;
}
.next-button,
.prev-button {
  padding-top: 35px;
}

/* navigation */
nav {
  background-color: #333; /* Background color for the navigation bar */
}
ul {
  list-style-type: none; /* Remove default list bullets */
  padding: 0;
  margin: 0;
}
li {
  display: inline; /* Display list items horizontally */
  margin-right: 15px; /* Add space between menu items */
}
a {
  text-decoration: none; /* Remove underlines from links */
  color: #fff; /* Text color for links */
  font-weight: bold; /* Make the text bold */
}
/* Style the links on hover */
a:hover {
  color: #ff6600; /* Change the text color on hover */
}

/* banner 1 CSS*/
.banner-1 {
  background: url("./images/banner-1/background.jpg");
  width: 100%;
  max-width: 320px;
  height: 50px;
  display: flex;
  align-items: center;
}
.banner-1 .flexbox {
  display: flex;
  padding: 0 16.5px;
  align-items: center;
}
.banner-1 .flexbox .content-left,
.banner-1 .flexbox .content-right {
  width: 50%;
}
.banner-1 .flexbox .content-right {
  position: relative;
  left: 36px;
}
.banner-1 .flexbox .content-left .logo {
  width: 94px;
  height: 30px;
  margin: 0 134px 0 0;
  object-fit: contain;
}
.banner-1 .content-right h2 {
  font-family: "Avenir-heavy", serif;
  font-size: 9px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.33;
  letter-spacing: 0.9px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.banner-1 .flexbox .content-right .line {
  width: 58px;
  height: 1px;
  background-color: white;
  margin: 0;
  z-index: 1;
  position: relative;
  top: -8px;
  left: 41px;
}
/* banner 1 CSS end*/

.content-top {
  width: 100%;
  height: 444px;
  background: url("./images/banner-2/mens-scarf-and-briefcase.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f7f0;
}
.content-bottom .container {
  width: 100%;
  max-width: 261px;
  display: flex;
}
.content-bottom h2 {
  font-family: "BemboStd", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000;
  margin-top: 0;
  margin-bottom: 37px;
}
.content-bottom .shop-now-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-bottom .shop-now-btn h2 {
  margin: 0 0 3.5px;
  font-family: "Avenir-heavy", serif;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  color: #000;
}
.content-bottom .line {
  width: 81px;
  height: 1px;
  background-color: #000;
  margin-bottom: 32px;
}

/* banner 2 */
.banner-2 {
  width: 300px;
  text-align: center; /* Center align the content */
}
/* banner 2 CSS end*/

/* banner 3 */
.banner-3 {
  width: 300px;
  text-align: center; /* Center align the content */
}
.banner-3 h1 {
  font-size: 24px;
  margin: 10px 0;
}
/* banner 3 CSS end */
