* {
  box-sizing: content-box;
}
/* fonts */
@font-face {
  font-family: "BemboStd";
  src: url("./fonts/BemboStd.woff2") format("woff2"),
    url("./fonts/BemboStd.woff") format("woff");
}
@font-face {
  font-family: "Avenir-heavy";
  src: url("./fonts/Avenir-Heavy.woff2") format("woff2"),
    url("./fonts/Avenir-Heavy.woff") format("woff");
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

/*carousel global */
.carousel {
  display: flex;
  align-items: center;
}
.carousel-content {
  display: none;
  width: 100%;
  text-align: center;
  width: 100%;
  max-width: 156px;
}
.carousel-content.active {
  display: block;
  width: 156px;
}
.next-button,
.prev-button {
  padding-top: 3.5px;
  max-width: 7px;
  max-height: 12px;
}

.prev-button img,
.next-button img {
  width: 100%;
  height: 100%;
}

.content-top {
  width: 100%;
  height: 444px;
  background: url("./images/mens-scarf-and-briefcase.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-top img {
  width: 199px;
  height: 63px;
  object-fit: contain;
}
.content-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f7f0;
  max-height: 165px;
  padding-top: 33px;
}
.content-bottom .container {
  width: 100%;
  max-width: 261px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.content-bottom h2 {
  font-family: "BemboStd", serif;
  font-size: 24.7px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000;
  margin-top: 0;
  margin-bottom: 37px;
  max-width: 156.6px;
  max-height: 52px;
  width: 100%;
  height: 100%;
}
.content-bottom .shop-now-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-bottom .shop-now-btn h2 {
  margin: 0 0 3.5px;
  font-family: "Avenir-heavy", serif;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  color: #000;
}
.content-bottom .shop-now-btn a {
  text-decoration: none;
}
.content-bottom .line {
  width: 81px;
  height: 1px;
  background-color: #000;
  margin-bottom: 32px;
}
.banner {
  width: 300px;
  height: 600px;
}
.container {
  display: flex;
  justify-content: center;
}
