* {
  box-sizing: content-box;
}
/* fonts */
@font-face {
  font-family: "BemboStd";
  src: url("./fonts/BemboStd.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir-heavy";
  src: url("./fonts/Avenir-Heavy.woff2") format("woff2");
}
.slide1 {
  background-image: url("./images/micro-bags@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide2 {
  background-image: url("./images/mens-scarf-and-briefcase@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide3 {
  background-image: url("./images/mini-alexa@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide4 {
  background-image: url("./images/lily@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
}
.banner-content {
  width: 300px;
  height: 600px;
}
.top {
  width: 300px;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top img {
  width: 199px;
  height: 63px;
  object-fit: contain;
}
.next-button,
.prev-button {
  cursor: pointer;
}
.bottom {
  background: #f9f8f0;
  padding-top: 33px;
  display: flex;
  justify-content: center;
}
.shop-now-btn-text {
  width: 156.6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-now-btn-text a {
  text-decoration: none;
}
.shop-now-btn-text h2 {
  font-family: "BemboStd", sans-serif;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 37px;
}
.shop-now-btn-text h3 {
  font-family: "Avenir-heavy", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 1.3px;
  color: #000;
  margin: 0;
}
.line {
  background: #000;
  height: 1px;
  width: 81px;
  margin-bottom: 32px;
}
.bottom .container {
  width: 261px;
  display: flex;
  justify-content: space-between;
}
.banner-content {
  display: none;
}
.banner-content.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
